.container {
  margin: 0 auto;
  padding: 50px;
  max-width: 500px;
}

.outer-card {
  width: 400px;
  padding: 50px;
  border: solid 1px lightgrey;
  box-shadow: 1px 1px 5px lightgrey;
  background-color: #092B40;
  color: white;
}

h1 {
  color: #D96F32;
  text-align: center;
  font-weight: bold;
}

.field {
  padding: 10px;
}

.length-input {
  width: 380px;
  height: 30px;
}

button {
  width: 400px;
  height: 50px;
  color: white;
  background-color: #D96F32;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  color: #D96F32;
}

.generated-password {
  background-color: #092B40;
  color: white;
  border: solid 1px lightgrey;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

.password-box {
  width: 300px;
  height: 30px;
}

@media (max-width: 500px) {
  .container {
    width: 300px;
    padding: 10px;
    padding-top: 40px;
  }
  .outer-card {
    width: 280px;
    padding: 10px;
  }
  .length-input {
    width: 250px;
    height: 30px;
  }
  button {
    width: 280px;
  }
  .password-box {
    width: 200px;
  }
}
