  <div class="container">
    <mat-card class="outer-card">

        <h1>PASSWORD GENERATOR</h1>

        <div class="field">
          <label>Length</label>
          <input
          class="length-input"
          placeholder="Enter desired length for your password"
          (input)="changeLength($event.target.value)" />
        </div>

        <div class="field">
          <div>
            <label>
              <input (change)="useLetters()" type="checkbox" />
              Use Letters
            </label>
          </div>
        </div>


        <div class="field">
          <div>
            <label>
              <input (change)="useNumbers()" type="checkbox" />
              Use Numbers
            </label>
          </div>
        </div>

        <div class="field">
          <div>
            <label>
              <input (change)="useSymbols()" type="checkbox" />
              Use Symbols
            </label>
          </div>
        </div>

        <button
        mat-raised-button
        [disabled]="
            !(passwordLength && (includeLetters || includeSymbols || includeNumbers))
          " (click)="onButtonClick()" class="button is-link is-fullwidth">
          Generate!
        </button>

        <mat-card *ngIf="password" class="generated-password">
        <div>
          <label>Your Password</label>
          <input class="password-box" [value]="password" />
        </div>
        </mat-card>

    </mat-card>
  </div>

